{
  "trailingComma": "all",
  "tabWidth": 1,
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.json",
      "options": {
        "tabWidth": 6
      }
    }
  ]
}