@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-white: 255 255 255;
    --color-black: 0 0 0;
    --color-primary: 135 67 255;
    /* #8743FF */
    --color-secondary: 102 61 249;
    /* #663DF9 */
    --color-tertiary: 65 54 241;
    /* #4136F1 */
    --color-quaternary: 214 136 0;
    /* #D68800 */
    --color-quinary: 53 43 181;

    --color-dark: 30 30 30;
    --color-gray: 75 75 75;
    --color-dark-gray: 52 52 52;
    --color-darker-gray: 40 40 40;
    --color-mobile-filters: 36 36 37;
    --color-base-black: #141317;
  }
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  color: #fff;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

button:focus {
  outline: none;
}

@keyframes rotation {
  from {
    opacity: 0;
    transform: rotate(5deg);
  }

  to {
    opacity: 1;
    transform: rotate(0);
  }
}

/* Firefox < 16 */
@-moz-keyframes rotation {
  from {
    opacity: 0;
    transform: rotate(5deg);
  }

  to {
    opacity: 1;
    transform: rotate(0);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes rotation {
  from {
    opacity: 0;
    transform: rotate(5deg);
  }

  to {
    opacity: 1;
    transform: rotate(0);
  }
}

/* Internet Explorer */
@-ms-keyframes rotation {
  from {
    opacity: 0;
    transform: rotate(5deg);
  }

  to {
    opacity: 1;
    transform: rotate(0);
  }
}

.animation-rotation {
  animation: 1s ease-out 0s 1 rotation;
}

@keyframes fadeInPage {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animation-fadeIn {
  animation: 2s ease-out 0s 1 fadeInPage;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1.5px;
  background: rgb(73, 73, 73);
  /* background: rgba(0, 0, 0, 0.5); */
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.isResizing {
  width: 2px;
  background: rgb(102, 59, 187);
  opacity: 1;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    opacity: 1;
  }
}

@keyframes featuredbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Logos carousel animation */
@keyframes slides {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logo_items {
  display: inline-block;
  animation: 35s slides infinite linear;
}

#shader-web-background {
  z-index: 10 !important;
  opacity: 0.2
}