@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-white: 255 255 255;
		--color-black: 0 0 0;
		--color-primary: 135 67 255;  /* #8743FF */
		--color-secondary: 65 54 241;/* #4136F1 */
		--color-tech: #A6A0FF; /* TEMPORARY */
		--color-card: #222224;
		--color-sidebarTitle: #9CA3AF; /* TEMPORARY */
	}
}

.hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}